@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
html {
    font-size: 62.5%;
    font-family: 'Noto Sans', sans-serif;
}
body{
    position: relative;
    padding: 2rem;
    background-color: #111111;
}
section{
    background-color: #2a2a2a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    height: 80vh;
    aspect-ratio: 1/1;
    max-width: 1080px;
    margin: 0rem auto 2rem;
    position: relative;
}
img{
    background-color: #121212;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}
div{
    height: calc(20vh - 4rem);
    max-width: 1080px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
div button{
    font-family: 'Noto Sans', sans-serif;

    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 500;

    background-color: transparent;
    color: #74ee15;
    text-shadow: 
    0 0 0.3rem white,
    0 0 0.5rem #74ee15;
    border: .4rem solid #74ee15;
    box-shadow: inset 0 0 0.5rem 0 #74ee15, 0 0 1rem 0 #74ee15;
    user-select: none;
    cursor: pointer;
}
div{
    z-index: 20;
    color: #74ee15;
    text-shadow: 
    0 0 0.2rem white,
    0 0 0.5rem #74ee15;
    font-size: 1.6rem;
    user-select: none;
}
figure{
    position: relative;
    user-select: none;
    overflow: hidden;
}
figure::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #101010;
    z-index: 5;
    top: 0;
    left: 0;
}
figure.open::after{
    display: none;
}
figure.matched::after{
    display: none;
}
figure.matched{
    border: .3rem solid #74ee15;
    box-shadow: inset 0 0 0.5rem 0 #74ee15, 0 0 1rem 0 #74ee15;
}
#won{
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    width: 100%;
    height: 80vh;
    display: grid;
    place-content: center;
    z-index: 10;
    display: none;
}
#won h2{
    background-color: #101010;
    padding: 1rem 2rem ;
    border: .3rem solid #74ee15;
    box-shadow: inset 0 0 0.5rem 0 #74ee15, 0 0 1rem 0 #74ee15;
}
#won.done{
    display: grid;
}